@model CheckoutDto
@using SessionMapper
@{
    var checkouts = this.Context.Session.Get<List<CheckoutModel>>("checkouts");
    var totalSum = 0.0;
    if(checkouts is not null)
    {
        totalSum = checkouts.Sum(c => (c.Price * c.Quantity));
    }
    ViewBag.Checkouts = checkouts;
}
     <!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-action="Index">@Context.Request.Path.ToString().Replace("/Checkout/Index", "Checkout")</a></li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form method="post">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label asp-for="FirstName" class="form-label my-3">First Name<sup>*</sup></label>
                                <input asp-for="FirstName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label asp-for="LastName" class="form-label my-3">Last Name<sup>*</sup></label>
                                <input asp-for="LastName" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label asp-for="ShipCountry" class="form-label my-3">Country<sup>*</sup></label>
                        <input asp-for="ShipCountry" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="ShipRegion" class="form-label my-3">Region<sup>*</sup></label>
                        <input asp-for="ShipRegion" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="ShipCity" class="form-label my-3">Town/City<sup>*</sup></label>
                        <input asp-for="ShipCity" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="ShipPostalCode" class="form-label my-3">Postcode/Zip<sup>*</sup></label>
                        <input asp-for="ShipPostalCode" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="ShipAddress" class="form-label my-3">Address <sup>*</sup></label>
                        <input asp-for="ShipAddress" type="text" class="form-control" placeholder="House Number Street Name">
                    </div>
                    <div class="form-item">
                        <label asp-for="MobileNumber" class="form-label my-3">Mobile<sup>*</sup></label>
                        <input asp-for="MobileNumber" type="tel" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Email Address<sup>*</sup></label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-item m-2">
                        <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Oreder Notes (Optional)"></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(checkouts is not null)
                                {
                                    @foreach (var checkout in checkouts)
                                    {

                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src="@checkout.Photo" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                                </div>
                                            </th>
                                            <td class="py-5">@checkout.Name</td>
                                            <td class="py-5">@checkout.Price ₼</td>
                                            <td class="py-5">@checkout.Quantity</td>
                                            <td class="py-5">@(checkout.Price * checkout.Quantity) ₼</td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">₼@totalSum</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input asp-for="CashOnDelivery" type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1">
                                <label asp-for="CashOnDelivery" class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1" name="Paypal" value="Paypal">
                                <label class="form-check-label" for="Paypal-1">Paypal</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
