@model ExoticVegetablesVm

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">@ViewData["title"]</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-action="Index">@Context.Request.Path.ToString().Replace(@Context.Request.Path.ToString(), "Products")</a></li>
        <li class="breadcrumb-item"><a asp-action="ExoticVegetables">@Context.Request.Path.ToString().Replace(@Context.Request.Path.ToString(), "Exotic Vegetables")</a></li>
        @* <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li> *@
    </ol>
</div>

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Our Exotic Vegetables</h1>
                </div> 
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var product in Model.Fruits)
                                        {
                                            <div class="col-md-6 col-lg-4 col-xl-3">
                                                <div class="rounded position-relative fruite-item">
                                                    <div class="fruite-img">
                                                        <a asp-action="Detail" asp-controller="Products" asp-route-Id="@product.Id">
                                                            <img src="~/@product.ProductImageUrl" class="img-fluid w-100 rounded-top" alt="">
                                                        </a>
                                                    </div>

                                                    @if (@product.CategoryName == "Vegetables")
                                                    {
                                                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@product.CategoryName</div>
                                                        <div class="p-4 border border-primary border-top-0 rounded-bottom">
                                                            <h4>
                                                                <a asp-action="Detail" asp-controller="Products" asp-route-Id="@product.Id">
                                                                    @product.ProductName
                                                                </a>
                                                            </h4>

                                                            <p>@product.ShortDescription</p>
                                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                                @if (product.DiscountedPrice != product.OriginalPrice)
                                                                {
                                                                    <p class="text-dark fs-5 fw-bold me-2">₼@product.DiscountedPrice / kg</p>
                                                                    <p class="text-danger text-decoration-line-through">₼@product.OriginalPrice / kg</p>
                                                                }
                                                                else
                                                                {
                                                                    <p class="text-dark fs-5 fw-bold me-2">₼@product.OriginalPrice / kg</p>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@product.CategoryName</div>
                                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                            <h4>
                                                                <a asp-action="Detail" asp-controller="Products" asp-route-Id="@product.Id">
                                                                    @product.ProductName
                                                                </a>
                                                            </h4>

                                                            <p>@product.ShortDescription</p>
                                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                                @if (product.DiscountedPrice != product.OriginalPrice)
                                                                {
                                                                    <p class="text-dark fs-5 fw-bold me-2">₼@product.DiscountedPrice / kg</p>
                                                                    <p class="text-danger text-decoration-line-through">₼@product.OriginalPrice / kg</p>
                                                                }
                                                                else
                                                                {
                                                                    <p class="text-dark fs-5 fw-bold me-2">₼@product.OriginalPrice / kg</p>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="pagination d-flex justify-content-center mt-5">
                        @if (Model.CurrentPage > 1)
                        {
                            <a asp-action="ExoticVegetables" asp-route-page="@(Model.CurrentPage - 1)" class="rounded">&laquo;</a>
                        }
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <a asp-action="ExoticVegetables" asp-route-page="@i" class="rounded @(i == Model.CurrentPage ? "active" : "")">@i</a>
                        }
                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <a asp-action="ExoticVegetables" asp-route-page="@(Model.CurrentPage + 1)" class="rounded">&raquo;</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->