@model EditUserDto
@{
    ViewData["Title"] = "Edit";
}
<div class="">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div asp-validation-summary="All"></div>
            <h4 class="card-title">Edit User Details</h4>
            <div class="">
                <div class="container mb-4">
                    <img src="~/@Model.ProfilePhotoUrl" id="profile-image-show" width="200" height="200" />
                </div>
                <div class="container">
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="ProfilePhoto" class="form-label">Profile Photo:</label>
                            <input asp-for="ProfilePhoto" class="form-control" type="file" id="formFile">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.NickName" for="exampleInputNickName2">Nick Name:</label>
                            <input asp-for="@Model.NickName" type="text" class="form-control" id="exampleInputNickName2" placeholder="@Model.NickName">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.FirstName" for="exampleInputUsername1">First Name:</label>
                            <input asp-for="@Model.FirstName" type="text" class="form-control" id="exampleInputUsername1" placeholder="@Model.FirstName">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.LastName" for="exampleInputUsername2">Last Name:</label>
                            <input asp-for="@Model.LastName" type="text" class="form-control" id="exampleInputUsername2" placeholder="@Model.LastName">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.BirthDate" for="exampleInputBirthDate">Birth Date:</label>
                            <input asp-for="@Model.BirthDate" type="date" class="form-control" id="exampleInputBirthDate">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Email" for="exampleInputEmail1">Email address:</label>
                            <input asp-for="@Model.Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="@Model.Email">
                        </div>

                        <div class="form-group">
                            <input asp-for="@Model.Id" type="text" class="form-control" id="exampleInputEmail1" hidden>
                            <input asp-for="@Model.ProfilePhotoUrl" type="text" class="form-control" hidden>
                        </div>

                        <button type="submit" class="btn btn-primary me-2" style="color:honeydew;">Submit</button>
                        <button asp-action="GetAllUsers" asp-controller="Users" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section UserEditJs {
    <script src="~/admin/js/user-edit.js"></script>
}

@*
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
<div class="form-group">
    <label for="exampleInputConfirmPassword1">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
</div>
<button type="submit" class="btn btn-primary me-2">Submit</button>
<button asp-action="GetAllUsers" asp-controller="Users" class="btn btn-light">Cancel</button>
*@