@model OrderDetailsVm

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Order Details</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-action="MyOrders">Orders</a></li>
        <li class="breadcrumb-item">Order Details</li>
    </ol>
</div>
<!-- Single Page Header End -->
@if (Model != null)
{
    <div class="container">
        <article class="card">
            <header class="card-header"> Order Details / Tracking </header>
            @if (Model.IsCanceled == false)
            {
                <div class="m-1 row">
                    <form method="post" asp-action="Canceled" class="m-auto">
                        <input name="Id" id="Id" hidden value="@Model.OrderId" />
                        <button type="submit" class="btn btn-warning btn-icon-text" style="color:honeydew">
                            Cancel Order
                            <i class="mdi mdi-check-circle btn-icon-append"></i>
                        </button>
                    </form>
                </div>
            }
            <div class="card-body">
                <h6>Order ID: @Model.OrderId</h6>
                <article class="card">
                    <div class="card-body row">
                        <div class="col"> <strong>Estimated Delivery time:</strong> <br>@Model.EstimatedDeliveryTime?.ToString("yyyy/MM/dd") </div>
                        <div class="col"> <strong>Shipping BY:</strong> <br> @Model.Shipper, | <i class="fa fa-phone"></i> @Model.ShipperTel </div>
                        <div class="col"> <strong>Status:</strong> <br> @Model.OrderStatus </div>
                    </div>
                </article>

                <div class="track">
                    <div class="step @(Model.OrderStatus == "Pending" ? "active" : "")">
                        <span class="icon"> <i class="fas fa-clock fa-lg"></i> </span>
                        <span class="text">Pending</span>
                    </div>
                    <div class="step @(Model.OrderStatus == "Accepted" ? "active" : "")">
                        <span class="icon"> <i class="fas fa-check-circle fa-lg"></i> </span>
                        <span class="text">Accepted</span>
                    </div>
                    <div class="step @(Model.OrderStatus == "OnTheWay" ? "active" : "")">
                        <span class="icon"> <i class="fas fa-truck fa-lg"></i> </span>
                        <span class="text">On the way</span>
                    </div>
                    <div class="step @(Model.OrderStatus == "Delivered" ? "active" : "")">
                        <span class="icon"> <i class="fas fa-box fa-lg"></i> </span>
                        <span class="text">Delivered</span>
                    </div>
                </div>

                <hr>
                <ul class="row">
                    @foreach (var item in Model.OrderDetails)
                    {
                        <li class="col-md-4">
                            <figure class="itemside mb-3">
                                <div class="aside"><img src="~/@item.ProductImageUrl" class="img-sm border"></div>
                                <figcaption class="info align-self-center">
                                    <p class="title">
                                        <a asp-action="Detail" asp-controller="Products" asp-route-Id="@item.ProductId">@item.ProductName</a>
                                        <br> @item.Quantity  x  ₼@item.UnitPrice
                                    </p>
                                    <span class="text-muted">₼@((item.Quantity * item.UnitPrice))</span>
                                </figcaption>
                            </figure>
                        </li>
                    }
                </ul>

                <hr>
                <div class="row">
                    <div class="col">
                        <strong>Recipient:</strong> <br> @Model.RecipientFName @Model.RecipientLName
                    </div>
                    <div class="col">
                        <strong>Mobile Number:</strong> <br> @Model.MobileNumber
                    </div>
                    <div class="col">
                        <strong>Country:</strong> <br> @Model.ShipCountry
                    </div>
                    <div class="col">
                        <strong>City:</strong> <br> @Model.ShipCity
                    </div>
                    <div class="col">
                        <strong>Region:</strong> <br> @Model.ShipRegion
                    </div>
                    <div class="col">
                        <strong>Address:</strong> <br> @Model.ShipAddress
                    </div>
                    <div class="col">
                        <strong>Postal Code:</strong> <br> @Model.ShipPostalCode
                    </div>
                    <div class="col">
                        <strong>Cash on Delivery:</strong> <br> @Model.CashOnDelivery
                    </div>
                </div>

                <hr>
                @if (Model.IsDelivered == false)
                {
                    <div class="d-flex justify-content-center">
                        <form method="post" asp-action="Received" class="m-auto">
                            <input name="Id" id="Id" hidden value="@Model.OrderId" />
                            <button type="submit" class="btn btn-primary btn-icon-text" style="color:honeydew">
                                Received
                                <i class="mdi mdi-check-circle btn-icon-append"></i>
                            </button>
                        </form>
                    </div>
                }
                
                <div class="d-flex justify-content">
                    <a asp-action="MyOrders" asp-controller="Orders" class="btn btn-primary" style="color:honeydew" data-abc="true"> <i class="fa fa-chevron-left"></i> Back To Orders</a>
                </div>
            </div>
        </article>
    </div>
}

@section MyOrderDetailsCss {
    <link href="~/css/my-orderdetails.css" rel="stylesheet">
}