@model ProfileIndexDto

@section profilecss {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">@ViewData["title"]</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-action="Index">@Context.Request.Path.ToString().Replace("/Profile", "")</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@Context.Request.Path.ToString().Replace("/Profile", "Profile")</a></li>
        @* <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li> *@
    </ol>
</div>
<!-- Single Page Header End -->

<div class="container">
    <div class="profile-container">
        @if (TempData["succesMsg"] != null)
        {
            <div class="alert alert-success">@TempData["succesMsg"]</div>
        }
        <div class="profile-header">
            <img src="~/@Model.ProfilPhoto" alt="Profile Photo" class="profile-avatar">
            <h2 class="profile-name m-2">@Model.FullName</h2>
            <p class="profile-email"><a href="mailto:@Model.Email">@Model.Email</a></p>
        </div>
        <div class="profile-details">
            <h3>Personal Information</h3>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li><strong>Date of Birth:</strong></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><span>@Model.DateOfBirth.Day/@Model.DateOfBirth.Month/@Model.DateOfBirth.Year</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-actions">
            <a asp-action="Edit" class="btn btn-outline-success" style="color: rgba(255,181,36,255)">Edit</a>
            <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteAccountModalLabel">Do You Want to Delete Your Account?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Deleting your account is permanent and all your data will be erased.
                                You cannot undo this process</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" style="color:honeydew" data-dismiss="modal">Cancel</button>
                            <form method="post" asp-action="Delete" asp-controller="Auth" class="m-auto">
                                <input name="userId" id="userId" hidden value="@Model.Id" />
                                <button type="submit" class="btn btn-danger" id="deleteAccountButton">Delete Account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

            <script>
                $(document).ready(function () {
                    $("#deleteAccountButton").click(function () {
                        // Add your logic to delete the account here
                        // This could involve sending an AJAX request to your server
                        console.log("Delete account button clicked!");
                    });
                });
            </script>

        </div>
    </div>
</div>